numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.0
xgboost==2.0.3
flask==3.0.3
flask-cors==4.0.1
shap==0.45.1
joblib==1.4.2
scipy==1.13.1
imbalanced-learn==0.12.3
gunicorn==22.0.0
pytest==8.2.2
pytest-cov==5.0.0
python-dotenv==1.0.1
marshmallow==3.21.3
